.display-none {
    display: none;
}
.star-parent {
    position:absolute;
    width: 50px;
    height: 50px;
    bottom: 1px;
    right: 1px;
}

.star-parent img {
    position:absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    right: 10px;
    bottom: 10px;
}

.star-target {
    z-index: 50;
}