/*克莱因蓝 银色
 中国红 千岁绿
 莫兰迪色 淡粉
 马尔斯绿 墨绿
 普鲁士蓝 浅咖色
 拿坡里黄 中灰
 爱马仕橙 深空灰
*/
.bg-klein {
    background-color: #002EA6;
}

.bg-silver {
    background-color: #C0C0C0;
}

.bg-silver:hover {
    background-color: #002EA6;
    border: none;
}

.bg-red {
    background-color: #D7000F;
}

.bg-green {
    background-color: #3C5842;
}

.bg-green:hover {
    background-color: #D7000F;
    border: none;
}

.bg-mld {
    background-color: #798B71;
}

.bg-pink {
    background-color: #FBE8D9;
}
.bg-pink:hover {
    background-color: #798B71;
    border: none;
}

.bg-mes {
    background-color: #01847F;
}

.bg-darkslategray {
    background-color: #00544D;
}
.bg-darkslategray:hover {
    background-color: #01847F;
    border: none;
}
.bg-pls {
    background-color: #013E77;
}

.bg-light-coffee {
    background-color: #F9CF9F;
}
.bg-light-coffee:hover {
    background-color: #013E77;
    border: none;
}
.bg-npl {
    background-color: #FCDA5E;
}

.bg-midnight {
    background-color: #817F80;
}
.bg-midnight:hover {
    background-color: #817F80;
    border: none;
}
.bg-ams {
    background-color: #FF770F;
    border: none;
}

.bg-deep-grey {
    background-color: #333333;
}
.bg-deep-grey:hover {
    background-color: #FF770F;
    border: none;
}

.img-min {
    height: 20px;
    width: 20px;
}